
.vendorshow__meethost-container {
  padding-bottom: 6rem;
  border-bottom: 1px solid rgba(0,0,0,.08);
}

.vendorshow__meethost-header {
  font-size: 2.2rem;
  font-weight: 700;
  color: #484848;
  margin-top: 3.4rem !important;
  margin-bottom: 3.2rem;
}

.vendorshow__meethost-main {
  display: flex;
  justify-content: flex-start;  
}

.vendorshow__meethost-bio-wrapper {
  display: flex;
  align-items: flex-start;  
  margin-right: 20%;  
}

.vendorshow__meethost-photo-wrapper {
  margin-right: 4rem;  
  max-width: 225px;  
}

.vendorshow__meethost-photo {
  background-size: cover;
  width: 225px;
  height: 225px;
  background-position: center;
  border-radius: 3px;  
}

.vendorshow__meethost-flair {
  padding: 2rem;
  display: flex;
  justify-content: center;
  box-shadow: 0 1px 8px rgba(0,0,0,0.08)  
}
.vendorshow__meethost-flair-text {
  font-family: 'Caveat';
  text-align: center;  
  line-height: 2.5rem;
  font-size: 32px;
  font-weight: 100;
  color: rgba(0,0,0,0.6);  
}

.vendorshow__meethost-bio-inner {}

.vendorshow__meethost-bold {}

.vendorshow__meethost-text {
  font-size: 16px;
  font-weight: 200;
  max-width: 460px;
  line-height: 28px;
}

.vendorshow__meethost-stats-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;  
}

.vendorshow__meethost-stat {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 0.5rem;  
}





